.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* doim 5 ta ustun */
  gap: 20px;
  margin-top: 50px;
}

.container iframe {
  width: 100%;
  aspect-ratio: 16 / 9;   /* video nisbatini to‘g‘ri saqlash */
  border-radius: 12px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.container iframe:hover {
  opacity: 1;
}


.container iframe {
  border-radius: 12px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.container iframe:hover {
  opacity: 2;
}
